body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
}
body{
    padding:0px;
    margin:0px;
}

.navigation ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.navigation li {
    font-weight: 100;
    letter-spacing: 2px;
}
.navigation li {
    padding:10px;
}

.navigation  li.current {
    color: black;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 4px;
}

#banner {
    background-image: url("../img/background-img.jpeg");
    background-size: cover;
    background-position: bottom center;
    width: 100%;
}
#banner {
    height:350px;
}

h1 {
    position: relative;
    top: 50px;
    width: 400px;
    margin: 0 auto;
    color: white;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
}
h1 {
    border-style:solid;
}

#main {
    padding: 40px;
    text-align: center;
}
#main{
    width:500px;
    height:800px;
    margin:0 auto;
    overflow:auto;
}
#main::-webkit-scrollbar {
    display: none;
}

h2 {
    padding: 20px 10px;
    color: red;
    font-size: 26px;
    font-weight: 700;
}

h3 {
    color: red;
    font-size: 14px;
    line-height: 48px;
    text-align: center;
}
h3 {
    border-color:red;
    border-style:dotted;
    margin:30px 20px;
    padding:20px 30px;
}

p {
    padding: 10px 20px;
    color: grey;
    font-size: 16px;
    line-height: 1.5em;
}
p{
    margin-top:40px;
}

.pull-quote {

}
.pull-quote {
    width:400px;
    margin:0 auto;
}

.byline {
    border-bottom: 1px solid LightGrey;
    border-top: 1px solid LightGrey;
    color: DarkGrey;
    font-size: 14px;
    font-weight: 200;
}

.share {
    border: 1px solid LightGrey;
    padding: 40px 0px;
    position: relative;
    text-align: center;
    width: 100%;
}

.share a {
    background: red;
    border: 1px solid red;
    border-radius: 3px;
    color: white;
    display: inline-block;
    text-decoration: none;
}
.share a {
    padding:14px;
    margin:10px;
}

.share a:hover {
    background: white;
    border: 1px solid red;
    color: red;
}

.global {
    visibility:hidden;
}
